<!DOCTYPE html>
<html>
  <head>
    <title>Discrud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Catamaran&display=swap" %>
    <%= javascript_include_tag "https://kit.fontawesome.com/9bfe22d715.js" %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.session_bg = "<%= image_url('session_bg.jpg') %>";
      window.chat_header_bg1 = "<%= image_url('chat_header_bg1.png') %>";
      window.chat_header_bg2 = "<%= image_url('chat_header_bg2.png') %>";
      window.create_server_icon = "<%= image_url('create_server_icon.png') %>";
      window.join_server_icon = "<%= image_url('join_server_icon.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
