<!DOCTYPE html>
<html>
  <head>
    <title>Discrud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Catamaran&display=swap" %>
    <%= javascript_include_tag "https://kit.fontawesome.com/9bfe22d715.js" %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <script type="text/javascript">
      window.logo = "<%= image_url('logo.svg') %>";
      window.logo_text = "<%= image_url('logo_text.svg') %>";
      window.android = "<%= image_url('splash/android.svg') %>";
      window.bomb = "<%= image_url('splash/bomb.svg') %>";
      window.box = "<%= image_url('splash/box.svg') %>";
      window.cartridge = "<%= image_url('splash/cartridge.svg') %>";
      window.circle = "<%= image_url('splash/circle.svg') %>";
      window.coin = "<%= image_url('splash/coin.svg') %>";
      window.controller = "<%= image_url('splash/controller.svg') %>";
      window.cross = "<%= image_url('splash/cross.svg') %>";
      window.desktop = "<%= image_url('splash/desktop.svg') %>";
      window.dot = "<%= image_url('splash/dot.svg') %>";
      window.headphones = "<%= image_url('splash/headphones.svg') %>";
      window.iphone = "<%= image_url('splash/iphone.svg') %>";
      window.laptop = "<%= image_url('splash/laptop.svg') %>";
      window.potion = "<%= image_url('splash/potion.svg') %>";
      window.shield = "<%= image_url('splash/shield.svg') %>";
      window.square = "<%= image_url('splash/square.svg') %>";
      window.triangle = "<%= image_url('splash/triangle.svg') %>";
      window.session_bg = "<%= image_url('session_bg.jpg') %>";
      window.chat_header_bg1 = "<%= image_url('chat_header_bg1.png') %>";
      window.chat_header_bg2 = "<%= image_url('chat_header_bg2.png') %>";
      window.create_server_icon = "<%= image_url('create_server_icon.png') %>";
      window.join_server_icon = "<%= image_url('join_server_icon.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
